body {
  font-family: Arial;
  background-color: #F4f4f4;
  padding: 30px;
  color: #333;
  background-image: url("./img/bg.png");
  background-position: center;
  background-size: cover;
}

.app {
  max-width: 600px;
  margin: 0 auto 300px;
  background: #efefef;
  padding: 20px 30x;
  border-radius: 10px;
}

h1 {
  text-align: center;
}

h2 {
  margin-bottom: 10px;
}

p {
  margin: 10px 0;
}

input {
  box-sizing: border-box;
}